body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Top One;
    font-weight: Regular;
}

#title {
    margin-top: 20px;
    font-size: 36px;
    text-align: center;
}

#countdown {
    align-self: center;
}

.progress-bar {
    width: 80%;
    background-color: #f3f3f3;
    border-radius: 25px;
    margin-bottom: 20px;
    align-self: center;
}
.progress {
    height: 20px;
    background-color: green;
    border-radius: 25px;
    width: 0;
}
.question-box {
    margin-bottom: 20px;
    text-align: left;
    background-color: lightgray;
    max-width: 50%;
    width: 100%;
    height: 100%;
    max-height: 30%;
    align-self: center;
    padding-left: 3em;
}

#question {
    margin-bottom: 2em;
}

.answer-box {
    display: flex;
    justify-content: center;
    gap: 5em;
}

#answerA, #answerB {
    margin: 0;
    padding: 10px;
    width: 300px;
    text-align: center;
}

.Btn-container {
    display: flex;
    justify-content: center;
    gap: 5em;
}

#begin {
    border: 2px solid transparent;
    width: 7.6em;
    height: 2.5em;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: #F3F3F3;
    border-radius: 10px;
    transition: all 0.5s;
    margin-left: 1em;
  }
  
  .answer-button:hover, .answer-button:focus {
    border: 2px solid #4A9DEC;
    box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
    background-color: white;
  }

.answer-button {
    border: 2px solid transparent;
    width: 7.6em;
    height: 2.5em;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: #F3F3F3;
    border-radius: 10px;
    transition: all 0.5s;
    margin-left: 1em;
}

.feedback {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

#typhoon {
    max-width: 30%;
    max-height: 25%;
    align-self: center;
    margin: 10px;
}