<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyber Defense: Protect the Aircraft</title>
    <link href="https://fonts.googleapis.com/css?family=Top+One&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='gamestyles.css') }}">
</head>
<body>
    <img id="title" src="../static/images/secure-the-aircraft.png">
    <div id="countdown"></div>
    <p id="stopwatch">0</p>
    <br>
    <p id="statusMessage">Unsecured</p>
    <div class="progress-bar-container">
        <img id="progress-image" src="../static/images/barplane.png">
        <div class="progress-bar">
            <div class="progress"></div>
        </div>
    </div>
    <div id="overlay" class="overlay"></div>
    <div id="endMessage" class="end-message"></div>

    <div class="question-box">
        <h2 id="question"></h2>
        <div class="answer-box">
            <p id="answerA"></p>
            <p id="answerB"></p>
        </div>
    </div>
    <div class="Btn-container">
    <button class="answer-button" id="answerABtn">A</button>
    <button class="answer-button" id="answerBBtn">B</button>
    </div>

    <p id="feedback"></p>

    <script>
        playerCounter++;
        alert(playerCounter);
    </script>

    <script src="{{ url_for('static', filename='gamescript.js') }}"></script>
</body>
</html>