<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyber Defense: Protect the Aircraft</title>
    <link href="https://fonts.googleapis.com/css?family=Top+One&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <img id="title" src="../static/images/secure-the-aircraft.png">
    <div class="container">
        <div class="left-col">
            <p>The plane is under attack! A <span style="color: red;">cyber</span>
                attack!</p>
            <p>Answer 10 questions correctly to increase the 
                planes security and stop the attack!</p>
            <p>Answer 5 questions incorrectly however,
            And the plane becomes
            more vulnerable!</p>
            <p>How fast are you, can you make the top of the leaderboard?</p>
            <form action="{{ url_for('game') }}" method="GET">
                <label id="nameLabel" for="nameInput">Enter your name to begin:</label> <br>
                <input id="input" type="text" name="nameInput" required>
                <button id="begin" type="submit">Begin</button>
            </form>

        </div>
        <div class="right-col">
            <div class="leaderboard-box">
                <h2>Leader board</h2>
                <ul id="leaderboard-list">
                </ul>
            </div>
        </div>
    </div>
    
    <script>window.onload = function() {
        updateLeaderboardDisplay();
    };</script>
    
    <script src="{{ url_for('static', filename='gamescript.js') }}"></script>
</body>
</html>
