<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyber Defense: Protect the Aircraft</title>
    <link href="https://fonts.googleapis.com/css?family=Top+One&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1 id="title">Cyber Defense: Protect the Aircraft!</h1>
    <div class="container">
        <div class="left-col">
            <p>You have 30 seconds to defend 
            the typhoon from a cyber attack!</p>
            <p>Answering questions correctly 
            increases the typhoons security!</p>
            <p>Answer incorrectly however,
            And the typhoon becomes
            more vulnerable!</p>
            <form action="{{ url_for('game') }}" method="GET">
                <label id="nameLabel" for="nameInput">Enter your name to begin:</label> <br>
                <input id="input" type="text" name="nameInput" required>
                <button id="begin" type="submit">Begin</button>
            </form>

        </div>
        <div class="right-col">
            <div class="leaderboard-box">
                <h2>Leader board</h2>
                <ul id="leaderboard-list">
                </ul>
            </div>
        </div>
    </div>
    
    <script>window.onload = function() {
        updateLeaderboardDisplay();
    };</script>

    <script src="{{ url_for('static', filename='gamescript.js') }}"></script>
</body>
</html>
